.comment-card {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 10px; 
}

.textComment-parent {
    font-size: 10pt;
    
    height:auto;

    margin-left: 5px;
    padding-left: 25px;
    padding-bottom: 15px;;
    border-left: 2px solid lightgrey;  
    border-bottom: 2px solid  lightgrey;  
    text-align: start; 
  
}

.textComment-parent p {
  margin:0}



.comment-card .indentation1 {
    margin-left: 50px;}

.comment-card .indentation2 {
    margin-left: 50px;}

.comment-card .indentation3 {
    margin-left: 50px;}

.comment-card .indentation4 {
    margin-left: 50px;}

.comment-card .indentation5 {
    margin-left: 50px;}

.comment-card .indentation6 {
    margin-left: 50px;}  

.comment-card .indentation7 {
    margin-left: 50px;}  

.comment-card .indentation8 {
    margin-left: 50px;}  
        
.comment-card .indentation9 {
    margin-left: 50px;}   

.comment-card .indentation10 {
    margin-left: 50px;}  


.comment-card-details {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 7pt;
    height: 15px;
    margin-left:0;
    margin-top: 0px;
    color: #828282;
    height: auto;
}


.comment-card-details p {
    margin:0 5px;
    padding: 15px 0px 10px 0;
}
.comment-card-details button {
    margin-right:10px;
    margin-left: 0;
    padding-left: 0;
    color: #828282;
    height: 15px;
    text-align: start;
    background: none!important;
    border:0;
}
.textComment  {
    margin-left: 5px;
    padding-left: 25px;
    border-left: 1px solid lightgrey;  
    border-bottom: 1px solid lightgrey;  
    text-align: start; 
    font-size: 9pt;
}

.textComment p {
    margin-top:0px;
    margin-left: 0px;
    padding: 0px;    
}