.mainContainer {
    
    position: static;
    height: auto;
    bottom:0px;
    margin-bottom: 0;

}


.containerFooter{
    position: relative;
    height: 30px;
    margin: 10px 0;
    
}

.footer  { 
    position:absolute;
    bottom:0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:600px;  
    font-size: 12px;
    text-align: center;
    overflow:hidden;

}

.footer a { 
    
    color: grey;     
    border-right:1px solid #FF6600;
    padding: 0 10px;
}
.footer #last {border:0px}