.footer {
    display: flex;
    flex-direction: row;
    border-top: 3px solid #FF6600;
    margin-top: 30px;
}
           
.pagination {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}             

.page-button {
    color: #FF6600;
    font-size: large;
}