.story-card {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0.5em 1em;
    height: 2em;   
    justify-items: center;
}

.story-card-title{
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    height: 2em;
     
    margin-top:1em; 
    text-align: center;
    align-content: center;
 
}

.story-card-title a {
    text-decoration: none;
    display: block;
    font-size: 10pt;
    padding-top: 0em;
    color: #000000;
    margin-left:0.8em;

}



.story-card-title .upvote {
    margin:0;
    background: none!important;
    font-size: 8pt;
    height: 15px;
    width: 0.5em;
    border: none;
    align-self: center;  
    
    text-align: center; 
  
}

.story-card-title p{
    margin:0;
    padding: 0;
  
    /* text-align: center; */
}

.story-card-details {
    display: flex;
    flex-direction: row;
    margin:0;
    margin-left: 4em;
    align-content: space-around;
    font-size: 7pt;
    height: 4em;
   
}

.story-card-details p {
    margin:0;
    margin-right: 5px;
    color: #828282;
/*     padding: 0.5em 0;
    height: 2em; */
}

a.story-domain {
    font-size: 7pt;
    color: #828282;
    align-self: center;
    margin-left: 0.5em;
}
