.story-card {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, sans-serif;
}

.story-card-title {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    height: 22px;
}

.story-card-details {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-content: space-around;
    font-size: 7pt;
    height: 15px;
}

.story-card-details p {
    margin-right: 5px;
    color: #828282;
    padding-top: 0px;
}

.story-card-title a {
    text-decoration: none;
    display: block;
    font-size: 10pt;
    margin: 1em 0.5em;
    color: #000000;
}

button {
    background: none!important;
    font-size: 8pt;
    height: 10px;
    width: 10px;
    border: none;
    margin: 15px 0px;
}
a.story-domain {
    font-size: 7pt;
    color: #828282;
    margin-top: 16px;;
}
